{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <script async src="{% static 'tasks/js/task-create.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}">
    <form class="create-task__form" method="post" action={% url 'create'%} >
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-success" type="submit" value="Create task" />
        <a href="/tasks" class="btn btn-danger" >Cancel</a>
    </form>


{% endblock %}

