# Byte-compiled / optimized / DLL files
.idea
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log

# Environments
.env
.venv
env/
venv/
web_venv
cnsl_venv
v_venv
ENV/
env.bak/
venv.bak/
