{% extends "tasks/../../../tasks/templates/base.html" %}

{% load bootstrap4 %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

    <form class="login__form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-dark-green" type="submit" value="Sign up" />
        <button type="button" class="btn btn-dark-green">Dark-green</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}