

.tasks-list__content {
    display: flex;
    width: 100%;

}

.all-tags__button {
    margin-top: 6px;
}

.tags-sidebar {
    width: 200px;
    padding: 0 6px;
    overflow: auto;
    height: 100%;
    box-shadow: 1px 0px 4px 1px #dedede;
    border-radius: 3%;
}

.task-list {
    width: 100%;
}


.task-list__items {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.tags__button {

}

.tags-title {
    background: white;
    display: flex;
    height: 48px;
    align-items: center;
}

.tags__button {
    background: white;
    padding: 6px 12px;
    margin-bottom: 6px;
}

.tags__button.active {
    background-color: #17a2b8;
    color: white;
}

.task {
    display: flex;
    background-color: #f8f9fa;
    height: 48px;
    align-items: center;
    margin: 6px 6px 6px 18px;
    border-radius: .25rem;
    overflow: hidden;
}

.task__status {
    width: 60px;
    height: 100%;
    margin-right: 14px;
}

.task__title {
    flex-grow: 1;
    padding: 0 12px;
}

.task__status[data-status="0"] {
    background-color: #ffc107;
}

.task__status[data-status="1"] {
    background-color: #28a745;
}

.task__status[data-status="2"] {
    background-color:#dc3545;
}

.task__button {
    padding: 0 12px;
}

.task__button:hover {
    cursor: pointer;
}

.task__delete-button {
    color: crimson;
}

.task__delete-button:hover {
    color: red;
}

.task__edit-button:hover {
    color: dodgerblue;
}

.task__add-button:hover {
    color: #28a745;
}

.task__add-button {
    color: forestgreen;
}

.task__owner-container {
    display: flex;
    align-items: center;
}

.task__owner {
    margin-left: 6px;
}

.task__status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task__status-checkbox {
    width: 24px;
    height: 24px;
}

.task-list__toolbox {
    display: flex;
    padding: 6px;

}

.add-task-button {
    width: 100%;
    margin-left: 12px;
}

.task-list__container {
    margin-left: 18px;
    border-left: #dedede 1px dashed;
}

.task-list > .task-list__container {
    margin-left: 0;
    border-left: 0;
}

.add-task-button {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

