

.tasks-list__content {
    display: flex;
    width: 100%;

}

.tags-sidebar {
    background-color: #F2EDED;
    width: 200px;
    margin: 6px;
    overflow: auto;
    height: calc(100% - 68px);
}


.task-list {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.tags__button {

}

.tags-title {
    background: white;
    display: flex;
    height: 48px;
    align-items: center;
}

.all-tags__button {

}

.tags__button {
    background: white;
    padding: 6px 12px;
    margin: 2px;
}

.tags__button.active {
    background-color: #17a2b8;
    color: white;
}

.task {
    display: flex;
    background-color: #F2EDED;
    height: 48px;
    align-items: center;
    margin: 6px;
}

.task__status {
    width: 60px;
    height: 100%;
    margin-right: 14px;
}

.task__title {
    flex-grow: 1;
    padding: 0 12px;
}

.task__status[data-status="0"] {
    background-color: #ffc107;
}

.task__status[data-status="1"] {
    background-color: #28a745;
}

.task__status[data-status="2"] {
    background-color:#dc3545;
}

.task__button {
    padding: 0 12px;
}

.task__button:hover {
    cursor: pointer;
}

.task__delete-button {
    color: crimson;
}

.task__delete-button:hover {
    color: red;
}

.task__edit-button:hover {
    color: dodgerblue;
}

.task__add-button:hover {
    color: #28a745;
}

.task__add-button {
    color: forestgreen;
}

.task__owner-container {
    display: flex;
    align-items: center;
}

.task__owner {
    margin-left: 6px;
}

.task__status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task__status-checkbox {
    width: 24px;
    height: 24px;
}

.task-list__toolbox {
    display: flex;
    margin: 0 6px;
}

.add-task-button {
    width: 100%;
    margin-left: 12px;
}

.task-list__container {
    margin-left: 18px;
}

.task-list > .task-list__container {
    margin-left: 0;
}
