{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <link rel="stylesheet" href="{% static 'tasks/css/login.css' %}">

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="login__container">
    <form class="login__form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-success" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'signup' %}">Sign up</a></p>
    </div>

{% endblock %}